name: testing TopOpt

on: [push]

jobs:
  build:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          activate-environment: anaconda-client-env
          environment-file: environment.yml
          python-version: 3.9
          auto-activate-base: false
      - name: Test with pytest
        run: |
          conda install pytest
          pytest
